.container {
  min-width: 100%;
  min-height: 100vh;
  background-color: #18c7c799;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mainCard {
  min-width: 70%;
  min-height: 80vh;
  background-image: url("/public/images/contact.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  text-align: right;
  position: relative;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

.cardContent {
  padding: 2rem;
}

.cardContent .title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #560bad;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.formControl {
  margin-bottom: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: end;
}

.formControl input,
.formControl textarea,
.submit {
  outline: none;
  border: none;
  background: none;
}

.formControl label {
  align-self: start;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.formControl input,
.formControl textarea {
  padding: 0.2rem 0.2rem;
  width: 18rem;
  border-bottom: 2px solid #560bad;
  font-size: 1.1rem;
}

.formControl textarea {
  resize: none;
}

.formControl input::placeholder,
.formControl textarea::placeholder {
  font-style: italic;
}

.submit {
  padding: 0.8rem 1.5rem;
  font-weight: 700;
  background-color: #560bad;
  border: 2px solid #565bad;
  color: #fff;
  border-radius: 5px;
}

.submit:hover {
  color: #560bad;
  background-color: #fff;
}

@media (max-width: 768px) {
  .cardContent {
    text-align: center;
    padding-top: 5rem;
  }

  .cardContent .title {
    font-size: 2rem;
  }

  .logo {
    top: 1rem;
    left: 1rem;
  }
}
