.container {
  padding: 2rem 2rem 2rem 2rem;
}

.textContainer {
  text-align: center;
}

.textContainer h3 {
  font-size: 4rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.cardsContainer {
  margin: 5rem 0;
}

@media (max-width: 768px) {
  .textContainer h3 {
    font-size: 3rem;
  }

  .cardsContainer {
    margin: 2rem 0;
  }
}
