*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

button {
  outline: none;
  border: none;
  background-color: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

ul {
  list-style: none;
}


